{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "camelcase": 0,
    "max-len": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-pascal-case": 0,
    "react/jsx-boolean-value": 0
  },
  "plugins": ["react"],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "expect": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
