/*-------------------------------------//
//  Commmon
//-------------------------------------*/

.error1_0_0 {
  display: inline-block;
  color: #E36049;
  line-height: 1.4;
}


/*-------------------------------------//
//  Modifier
//-------------------------------------*/

/* size */

.error1_0_0.size-l { font-size: 1.6rem; }
.error1_0_0.size-m { font-size: 1.4rem; }
.error1_0_0.size-s { font-size: 1.2rem; }
