@charset "UTF-8";
/*-------------------------------------//
//  Commmon
//-------------------------------------*/
@font-face {
  font-family: "wall";
  src: url("../font/.woff") format("woff"), url("../font/.ttf") format("truetype"); }

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

a img {
  border: none; }

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block; }

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%; }

body {
  position: relative;
  background: #fff;
  color: #4c4c4c;
  font-size: 1.4rem;
  line-height: 1.4;
  font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "モリサワ 新ゴ R", "Droid Sans", "メイリオ", sans-serif; }

select, button, input, textarea {
  -webkit-appearance: none;
  outline: 0; }

input[disabled] {
  opacity: 1; }

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

img {
  vertical-align: bottom; }

.button1_0_0.tap {
  opacity: 0.7; }

/* -------------------------------------------------
 *          メディアクエリ
 *  480以上は横向きと見なしてよさそう。
 *  iPhone4が320x480。
------------------------------------------------- */
/**
 *  responsive
 */
@font-face {
  font-family: "icon";
  src: url("../assets/icon.eot");
  src: url("../assets/icon.eot?#iefix") format("eot"), url("../assets/icon.woff") format("woff"), url("../assets/icon.ttf") format("truetype"), url("../assets/icon.svg#icon") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon:before {
  display: inline-block;
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.icon-2x {
  font-size: 2em; }

.icon-3x {
  font-size: 3em; }

.icon-4x {
  font-size: 4em; }

.icon-5x {
  font-size: 5em; }

.icon-fw {
  width: 1.2857142857142858em;
  text-align: center; }

.icon-1:before {
  content: "\EA01"; }

.icon-10:before {
  content: "\EA02"; }

.icon-11:before {
  content: "\EA03"; }

.icon-12:before {
  content: "\EA04"; }

.icon-13:before {
  content: "\EA05"; }

.icon-14:before {
  content: "\EA06"; }

.icon-2:before {
  content: "\EA07"; }

.icon-3:before {
  content: "\EA08"; }

.icon-4:before {
  content: "\EA09"; }

.icon-5:before {
  content: "\EA0A"; }

.icon-6:before {
  content: "\EA0B"; }

.icon-7:before {
  content: "\EA0C"; }

.icon-8:before {
  content: "\EA0D"; }

.icon-9:before {
  content: "\EA0E"; }

/*-------------------------------------//
//  Components
//-------------------------------------*/
/* atoms */
/*-------------------------------------//
//  Commmon
//-------------------------------------*/
.button1_0_0 {
  display: inline-block;
  line-height: 1;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer; }

/*-------------------------------------//
//  Modifier
//-------------------------------------*/
/* theme */
.button1_0_0.theme-primary {
  background-color: #745bc3;
  color: #fff; }

.button1_0_0.theme-border {
  border: 1px solid;
  background-color: #fff; }

.button1_0_0.theme-border.theme-primary {
  border-color: #745bc3;
  color: #745bc3; }
  .button1_0_0.theme-border.theme-primary.tap {
    background-color: #745bc3;
    color: #fff;
    opacity: 1; }

/* size */
.button1_0_0.size-wide {
  width: 100%; }

.button1_0_0.size-l {
  font-size: 1.6rem;
  padding: 12px; }

.button1_0_0.size-m {
  font-size: 1.4rem;
  padding: 10px; }

.button1_0_0.size-s {
  font-size: 1.2rem;
  padding: 8px 10px; }

/*-------------------------------------//
//  Commmon
//-------------------------------------*/
.button1_0_1 {
  display: inline-block;
  line-height: 1;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer; }

/*-------------------------------------//
//  Modifier
//-------------------------------------*/
/* theme */
.button1_0_1.theme-primary {
  box-shadow: 0 4px #463187;
  background-color: #745bc3;
  color: #fff; }

/* size */
.button1_0_1.size-wide {
  width: 100%; }

.button1_0_1.size-l {
  font-size: 1.6rem;
  padding: 12px; }

.button1_0_1.size-m {
  font-size: 1.4rem;
  padding: 10px; }

.button1_0_1.size-s {
  font-size: 1.2rem;
  padding: 8px 10px; }

.button1_0_1.tap {
  position: relative;
  top: 4px;
  box-shadow: 0 0; }

/*-------------------------------------//
//  Commmon
//-------------------------------------*/
.input1_0_0 {
  border: 1px solid #e8e8e8;
  background-color: #fff; }

/*-------------------------------------//
//  Modifier
//-------------------------------------*/
/* theme */
.input1_0_0.theme-primary:focus {
  border-color: #745bc3;
  box-shadow: 0 0 2px #745bc3; }

/* size */
.input1_0_0.size-l {
  width: 300px;
  font-size: 1.4rem;
  padding: 10px; }

.input1_0_0.size-m {
  width: 200px;
  font-size: 1.2rem;
  padding: 8px; }

.input1_0_0.size-s {
  width: 100px;
  font-size: 1.0rem;
  padding: 6px; }

.input1_0_0.size-wide {
  width: 100%; }

/*-------------------------------------//
//  Commmon
//-------------------------------------*/
.label1_0_0 {
  display: inline-block;
  cursor: pointer; }

/*-------------------------------------//
//  Modifier
//-------------------------------------*/
/* theme */
.label1_0_0.theme-primary {
  color: #745bc3; }

/* size */
.label1_0_0.size-l {
  font-size: 1.6rem; }

.label1_0_0.size-m {
  font-size: 1.4rem; }

.label1_0_0.size-x {
  font-size: 1.2rem; }

/*-------------------------------------//
//  Commmon
//-------------------------------------*/
.error1_0_0 {
  display: inline-block;
  color: #E36049;
  line-height: 1.4; }

/*-------------------------------------//
//  Modifier
//-------------------------------------*/
/* size */
.error1_0_0.size-l {
  font-size: 1.6rem; }

.error1_0_0.size-m {
  font-size: 1.4rem; }

.error1_0_0.size-s {
  font-size: 1.2rem; }

/* molecules */
.field1_0_0 .field-label {
  margin-bottom: 10px; }

.field1_0_0 .field-error {
  margin-top: 10px; }

/* frames */
